/* DashboardComponent's private CSS styles */

.main {
  font-family: 'Arial', sans-serif;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-login {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.header {
  height: 50px;
  display: flex;
  align-content: center;
  background-color: var(--dark);
  color: var(--gray);
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

.left-side {
  background-color: darkgray;
  width: 30%;
  
}

.right-side {
  width: 70%;
}

#icon-notif {
  width: 20.px;
  height: 20.px;
}

.title-profil {
  background-color: #fff;
  color: #3f525c;
  padding: 5%;
  border: none;
  border-radius: 30px;
  width: fit-content;
  margin: auto;
  text-align: center;
}

.header-padding {
  padding: 5%;
}

.headerDashboard {
  align-items: center;
  background-color: var(--dark);
  text-align: center;
  border-radius: 0px 0px 10px 10px; /* Coins arrondis */
  color: #fff; /* Texte blanc */
}

.user-search {
  width: 70%;

}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #3f525c;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.left-side-res {
  background-color: darkgray;
  width: 100%;
  height: 100%;
}

.conv-header-res {
  background-color: brown;
  width: 35%;
}

@media (max-width: 700px) {
 
  .main {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  a {
    width: 18%;
    box-sizing: content-box;
  }
  .left-side {
    background-color: darkgray;
    width: 100%;
    height: 100%;
  }
  
  .right-side {
    height: 100%;
    width: 100%;
  }
}

a:hover {
  background-color: black;
}
