<div id="search-component">
  <label for="search-box">Search</label>
  <input #searchBox id="search-box" (click)="this.displayUser = false" (input)="search(searchBox.value)" />

  <ul class="search-result" *ngIf="!this.displayUser">
    <li *ngFor="let user of users$ | async" >
      <button type="button" (click)="displayProfil(user)">{{user.username}}</button>
    </li>
  </ul>
</div>
<div *ngIf="this.displayUser">
  {{this.userToDisplay.username}}
  <button type="button" (click)="addToContact(this.userToDisplay)"> Add to contact </button>
</div>
