<div>
  <button type="button" class="add-button" (click)="isNewUser = false">
    Login
  </button>
  <button type="button" class="add-button" (click)="isNewUser = true">
    Create Account
  </button>
</div>

<div *ngIf="isNewUser">
  <div>
    <label for="email">Email: </label>
    <input id="email" [(ngModel)]="loggedInUser.email">
  </div>
  <div>
    <label for="pseudo">Pseudo: </label>
    <input id="pseudo" [(ngModel)]="loggedInUser.username">
  </div>
  <div>
    <label for="password">Password: </label>
    <input id="password" [(ngModel)]="loggedInUser.password">
  </div>
  <button type="button" class="add-button" (click)="createAccount(loggedInUser.username, loggedInUser.password, loggedInUser.email);">
    Create Account
  </button>
</div>

<div *ngIf="!isNewUser">
  <div>
    <label for="username">Username: </label>
    <input id="username" [(ngModel)]="loggedInUser.username">
  </div>
  <div>
    <label for="password">Password: </label>
    <input id="password" [(ngModel)]="loggedInUser.password">
  </div>
  <button type="button" class="add-button" (click)="accesAccount(loggedInUser.username, loggedInUser.password);">
    Log In
  </button>
</div>